.ArrowLeft {
    position: relative;
    bottom: 250px;
    left: 24px;
}


.ArrowRight {
    position: relative;
    bottom: 250px;
    left: 1120px;
}

.Page {
position: relative;
width: 50px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;

display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;

bottom: 146px;
left: 620px;
}

.Background {

height: 415px;
width: 1240px;
border-radius: 25px;
background-position-x: center;
 background-position-y: center;

}


.DivCarrousel {
height: 415px;
}

@media (max-width: 400px) {

    .ArrowLeft {
        width: 15px;
        bottom: 140px;
        left: 10px;
    }

    .ArrowRight {
        width: 15px;
        bottom: 140px;
        left: 295px;
    }

    .Page {
        font-size: 10px;
        bottom: 65px;
        left: 165px;
        }
        
        .Background {
            height: 255px;
            width: 335px;
            border-radius: 10px;
            background-size: cover;
          
          }

        .DivCarrousel {
            height: 255px;
            }
}